

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: darkred;
	text-decoration-color: tan;
}

a {
  color: #00B7FF;
	font-family: serif;
}

/* navbar css */

nav {
	font-family: serif;
	color: tan;
	font-size: 2.3rem;
}

nav li:hover {
	color: tan;
}
 /* landing page css */
h1 {
	color: tan;
	font-family: serif;
	padding: 15px;
}

h3 {
	color: tan;
	padding: 15px;
	font-family: serif;
	border-bottom: solid 3px black;
}

#land p{
	font-family: serif;
	line-height: 2em;
}


footer {
	color: tan;
	position: fixed;
	font-family: serif;
}

/* register css */

#form label {
	color: tan;
}

/* add forms */

form label {
	color: tan;
	font-family: serif;
	font-size: 2rem;
}

#table {
	background-color: lightgrey;
	border-radius: 5px;
	padding: 20px;
}
