

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: darkred;
	text-decoration-color: tan;
}

a {
  color: #00B7FF;
}
 /* landing page css */
h1 {
	color: tan;
	font-family: serif;
	padding: 15px;
}

#land p{
	font-family: serif;
	line-height: 2em;
}


footer {
	color: tan;
	position: fixed;
	font-family: serif;
}

/* register css */

#form label {
	color: tan;
}
