<% include ../partials/header.ejs %>

	<main class="container">

		<h1>Add a TV show to the list</h1>



		<h3> TV Shows </h3>
		<form method="post" class="col-md-2">
			<div class="form-group">
				<label for="title" class="col-sm-3 control-label">Title: *</label>
				<input name="title" id="title" required />
			</div>
			<div class="form-group">
				<label for="rating" class="col-sm-3 control-label">TV Parental Guide: *</label>
				<select name="rating" id="rating">
					<option>TV-Y</option>
					<option>TV-Y7</option>
					<option>TV-Y7-FV</option>
					<option>TV-G</option>
					<option>TV-14</option>
					<option>TV-MA</option>
				</select>
			</div>
		</br>
			<div class="form-group">
				<label for="genre" class="col-sm-3 control-label">Genre:</label>
				<select name="genre" id="genre">
					<option>Drama</option>
					<option>Comadey</option>
					<option>Sci-fi</option>
					<option>Western</option>
					<option>Animation</option>
					<option>History</option>
				</select>
			</div>
			<div class="form-group">
				<label for="seasons" class="col-sm-3 control-label">Number of seasons:</label>
				<input name="seasons" id="seasons" min="1" type="number" required />
			</div>
			<button class="btn btn-success col-sm-offset-2">Save</button>
		</form>

	</main>

	<% include ../partials/footer.ejs %>
