<% include partials/header.ejs %>

<main class="container">
    <h1>What the in the world...</h1>
    <section class="jumbotron">
        "Hey sorry about all this. We will fix it right way. Please use one of the links above to get back to the site."
    </section>
</main>

<% include partials/footer.ejs %>
