<% include ./partials/header.ejs %>

<main class="container">
	<h1> WatchList </h1>
	<section class="jumbotron" id="land">
  <p>This application here to hep you to track all of the TV shows that you have on the go. In this day and age of amazing media content, it might be hard to keep track what you have seen and haven't, so that's where this application comes in. Register and start making your personalized TV list so you never forget what to watch next!</p>
	</section>
</main>


<% include ./partials/footer.ejs %>
